{% extends "drinks/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Drink</legend>
                <h3>Are you sure you want to delete <br>"{{ object }}"?</h3>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
            </div>
        </form>
    </div>
    <a class="btn btn-outline-secondary" href="{% url 'drink-detail' object.id %}">Back</a>
{% endblock content %}