{% extends "drinks/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-primary" type="submit">Reset Password</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="alert alert-danger">
            You are currently logged in!
        </div>
        <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
{% endblock content %}