{% extends "drinks/base.html" %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="alert alert-info">
            Your request to reset your password has been processed. 
            To reset your password, check your email and follow the 
            instructions provided in the email.
        </div>
    {% else %}
        <div class="alert alert-danger">
            You are currently logged in!
        </div>
        <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
{% endblock content %}